*{
  text-align: center;
  background-color: rgb(2, 17, 63);
  color: white;
}

span{
  color: wheat;
}

table{
  text-align: center;
  padding: 1.5%;
}

#table{
  margin-top: -1.69%;
  margin-bottom: 02%;
  border: 0;
  padding-top: 0;
}

#search{
  background-color: aliceblue;
  color: rgb(2, 17, 63);
}

#search:hover{
  transform: scale(1.1);
  transition: .4s;
}

#table th{
  margin: 20%;
}

td{
  border: 1px solid wheat;
  padding: 1%;
}

th{
  border: 1px solid wheat;
  padding: 1%;
}

input{
  border-radius: 20px;
  border: 1px solid black;
  margin-right: 6%;
  padding-right: 3%;
  margin: 1%;
  padding: 1%;
}

button{
  border-radius: 20px;
  background-color: white;
  color: rgb(2, 17, 63);
  margin: 2%;
}

button:hover{
  transform: scale(1.01);
  transition: .4s;
}

form{
  background-color: aliceblue;
  display: flex;
  flex-direction:column ;
  width: 50%;
  text-align: center;
  position: relative;
  left: 25%;
  padding: 1%;
  margin-bottom: 3%;
  border-radius: 30px;

}

label{
  background-color: aliceblue;
  color: rgb(2, 17, 63);
}

#des{
  width: 220%;
}

#dat{
  width: 20%;
}

#amnt{
  width: 25%;
  padding: 0;
}