*{
  text-align: center;
  background-color: rgb(2, 17, 63);
  color: white;
}

table{
  position: relative;
  left: 25%;
  text-align: center;
  padding: 1.5%;
}


input{
  border-radius: 20px;
  border: 1px solid black;
  margin-right: 6%;
  padding-right: 3%;
}

button{
  border-radius: 20px;
  background-color: white;
  color: rgb(2, 17, 63);
  margin: 2%;
}

button:hover{
  transform: scale(1.2);
  transition: .4s;
}


